<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Device Provision</h2>
        <p class="subtitle">
            <a href="https://github.com/benbenbenbenbenbenbenbenbenben/switchports-drag-drop.git">Preload devices by mac</a>.    
        </p>
        <h4 class="title"></h2>
    </div>
</div>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">
                    <i class="fas fa-hat-wizard"></i>
                </span>
                <span class="display-1 d-block">{{serial}}</span>
                <div class="mb-4 lead">Oops, the page you are looking for was not found.</div>
            </div>
        </div>
    </div>
</div>