<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Meraki Client Provisioning Web App</h2>
    <p class="subtitle">
      Preload devices by mac -
      <a
        href="https://github.com/benbenbenbenbenbenbenbenbenben/meraki-provision-clients"
        >github</a
      >.
    </p>
  </div>
</div>
<div class="content m-5">
  <form id="uploadForm">
    <div class="row">
      <div class="col-md-12 mb-5">
        <!-- Organisation -->
        <div class="row">
          <h5>
            Organisation
            <span
              id="orgSpin"
              class="spinner spinner-border spinner-border-sm d-none"
            ></span>
          </h5>
          <div class="form-group">
            <select id="inputOrg" class="form-control" name="inputOrg">
              <option value="">Choose an Organisation</option>
              {% for org in orgs %}
              <option value="{{org['id']}}">{{org['name']}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <hr />
        <!-- Network -->
        <div class="row">
          <h5>Network</h5>
          <div class="form-group">
            <input
              type="radio"
              class="btn-check"
              name="options-network"
              id="inputSingleNetwork"
              autocomplete="off"
              checked
            />
            <label class="btn" for="inputSingleNetwork">Single</label>
            <!-- <input
              type="radio"
              class="btn-check"
              name="options-network"
              value="multi"
              id="inputMultiNetworks"
              autocomplete="off"
            />
            <label class="btn" for="inputMultiNetworks">Multi</label> -->
            <input
              type="radio"
              class="btn-check"
              name="options-network"
              value="all"
              id="inputAllNetworks"
              autocomplete="off"
            />
            <label class="btn" for="inputAllNetworks"
              >All
              <span
                id="badgeAllNetworksNum"
                class="badge text-bg-secondary"
              ></span
            ></label>

            <select
              id="inputNetwork"
              class="form-control"
              name="inputNetwork"
              disabled
            ></select>
            <div id="loading-bar-container">
              <div id="loading-bar"></div>
            </div>
            <div class="row" id="multiNetworksHolder"></div>
          </div>
        </div>
        <hr />
        <!-- Policy -->
        <div class="form-row">
          <h5>
            Policy
            <span
              id="policySpin"
              class="spinner spinner-border spinner-border-sm d-none"
            ></span>
          </h5>
          <div class="form-group">
            <select
              id="inputPolicy"
              class="form-control"
              name="inputPolicy"
              disabled
            >
              <option value="">Choose a policy</option>
              <option value="Normal">Normal</option>
              <option value="Allowed">Allowed</option>
              <option value="Blocked">Blocked</option>
              <option value="Group policy">Group policy</option>
              <option value="Per connection">Per connection</option>
            </select>
          </div>
        </div>
        <hr />

        <!-- Group Policy -->
        <h5>Group Policy</h5>
        <div class="row">
          <div class="form-group">
            <select
              id="inputGroupPolicy"
              class="form-control"
              name="inputGroupPolicy"
              disabled
            ></select>
          </div>
        </div>
        <hr />
        <!-- SSIDs -->
        <h5>SSIDs</h5>
        <div class="row" id="ssidHolder"></div>
        <hr />
        <!-- Devices -->
        <h5>Devices</h5>
        <div class="row">
          <label for="csvFileInput" class="form-label"
            >Choose CSV file. Headers must be 'name' and 'mac'.</label
          >
          <input
            class="form-control"
            type="file"
            id="csvFileInput"
            name="csvFileInput"
            required
          />
          <div id="devicesError" class="invalid-feedback"></div>
          <button id="loadButton" class="btn btn-secondary btn-lg">Load</button>
        </div>
        <button
          id="tableHideButton"
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#tableContainer"
          aria-expanded="false"
          aria-controls="tableContainer"
          hidden
        >
          Hide Table
        </button>
        <div id="tableContainer" class="row collapse">
          <table id="myTable" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Device Name</th>
                <th>Mac Address</th>
              </tr>
            </thead>
            <tbody id="tableBody"></tbody>
          </table>
          <nav id="paginationContainer">
            <ul id="pagination" class="pagination justify-content-center"></ul>
          </nav>
        </div>
        <hr />
        <!-- Submit -->
        <div class="row">
          <button
            id="provisionButton"
            type="submit"
            class="btn btn-primary btn-lg"
            disabled
          >
            Provision
          </button>
        </div>
        <!-- Alrts -->
        <div class="row">
          <div id="alert-container"></div>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="overlay" class="overlay">
  <div class="overlay-content">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="overlay-message">Provisioning... This may take some time.</p>
  </div>
</div>

<!-- Import Scripts -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script src="{{ url_for('static', filename='table.js') }}"></script>

<script>
  // Elements
  const inputOrg = document.getElementById("inputOrg");
  const inputSingleNetwork = document.getElementById("inputSingleNetwork");
  const inputMultiNetworks = document.getElementById("inputMultiNetworks");
  const inputAllNetworks = document.getElementById("inputAllNetworks");
  const badgeAllNetworksNum = document.getElementById("badgeAllNetworksNum");
  const inputNetwork = document.getElementById("inputNetwork");
  const inputPolicy = document.getElementById("inputPolicy");
  const inputGroupPolicy = document.getElementById("inputGroupPolicy");
  const ssidHolder = document.getElementById("ssidHolder");
  const multiNetworksHolder = document.getElementById("multiNetworksHolder");
  const tableHideButton = document.getElementById("tableHideButton");
  const overlay = document.getElementById("overlay");
  const defaultPolicies = ["Normal", "Allowed", "Blocked"];

  // Table Hide/Show
  $("#tableContainer").on("hidden.bs.collapse", function () {
    tableHideButton.innerHTML = "Show Table";
  });
  $("#tableContainer").on("show.bs.collapse", function () {
    tableHideButton.innerHTML = "Hide Table";
  });

  // Handle Org Select Change
  inputOrg.addEventListener("change", (event) => {
    const spinner = document.getElementById("orgSpin");
    spinner.classList.remove("d-none");

    //Reset Changes
    multiNetworksHolder.innerHTML = "";
    ssidHolder.innerHTML = "";
    inputPolicy.disabled = true;
    inputGroupPolicy.disabled = true;

    // Get Network ID
    const orgId = document.getElementById("inputOrg");
    // Make the API call
    fetch("/networks?orgId=" + orgId.value)
      .then((response) => response.json())
      .then((data) => {

        // Remove Options
        inputNetwork.options.length = 0;

        // Create Select Message Option
        let newOption = document.createElement("option");
        newOption.value = "";
        newOption.textContent = "Choose a network";
        inputNetwork.appendChild(newOption);

        // Create Options
        data.forEach((option) => {
          let newOption = document.createElement("option");
          newOption.value = option.id;
          newOption.textContent = option.name;
          inputNetwork.appendChild(newOption);
        });

        inputNetwork.disabled = false;

        badgeAllNetworksNum.innerHTML = inputNetwork.options.length - 1;

        // Hide the spinner
        spinner.classList.add("d-none");
      })
      .catch((error) => {
        console.error("Error:", error);
        // Hide the spinner
        spinner.classList.add("d-none");
      });
  });

  // Handle All Network Check Change
  inputAllNetworks.addEventListener("change", (event) => {
    if (event.currentTarget.checked) {
      inputNetwork.disabled = true;
      inputNetwork.hidden = true;
    } else {
      inputNetwork.hidden = false;
      inputNetwork.disabled = false;
    }
    //Reset Changes

    multiNetworksHolder.innerHTML = "";
    ssidHolder.innerHTML = "";
    inputGroupPolicy.disabled = true;
    inputPolicy.disabled = false;
    inputPolicy.value = "";
  });

  // Function to fetch data from an API asynchronously
  async function fetchPolicyData(apiURL) {
    const response = await fetch(apiURL);
    if (!response.ok) {
      throw new Error("Network response was not ok");
    }
    return response.json();
  }

  // Function to update the select box with options
  function updateSelectBox(options) {
    const networkOptions = inputNetwork.options;

    options.forEach((option) => {
      const selectBox = document.createElement("div");
      selectBox.classList.add("col-md-3", "mb-3");

      const label = document.createElement("label");
      label.classList.add("text-nowrap");
      label.textContent = option.networkId;
      selectBox.appendChild(label);

      var newSelectBox = document.createElement("select");
      newSelectBox.classList.add("form-control");
      newSelectBox.id = "input" + option.networkId;
      newSelectBox.name = "network-" + option.networkId;

      defaultPolicies.forEach((defaultPolicy) => {
        const newOption = document.createElement("option");
        newOption.value = defaultPolicy;
        newOption.textContent = defaultPolicy;
        newSelectBox.appendChild(newOption);
      });
      option["data"]["policies"].forEach((policy) => {
        const newOption = document.createElement("option");
        newOption.value = policy.groupPolicyId;
        newOption.textContent = policy.name;
        newSelectBox.appendChild(newOption);
      });

      // Append the SSID name and select elements to the row
      selectBox.appendChild(newSelectBox);
      // Append the row to the container
      multiNetworksHolder.appendChild(selectBox);
    });
  }

  async function asyncLoadNetworks() {
    // Load Each Network To Select
    const networkOptions = inputNetwork.options;

    // Loop through the options to extract their values and text
    const networkList = [];
    for (let i = 0; i < networkOptions.length; i++) {
      try {
        if (networkOptions[i].value == 0) {
          continue;
        }
        const networkId = networkOptions[i].value;
        const networkName = networkOptions[i].text;

        const selectBox = document.createElement("div");
        selectBox.classList.add("col-md-3", "mb-3");

        const label = document.createElement("label");
        label.classList.add("text-nowrap");
        label.textContent = networkName;
        selectBox.appendChild(label);

        var newSelectBox = document.createElement("select");
        newSelectBox.classList.add("form-control");
        newSelectBox.id = "input" + networkName;
        newSelectBox.name = "network-" + networkId;

        defaultPolicies.forEach((option) => {
          const newOption = document.createElement("option");
          newOption.value = option;
          newOption.textContent = option;
          newSelectBox.appendChild(newOption);
        });

        // Make the API call
        fetch("/policy?value=Group Policy&networkId=" + networkId)
          .then((response) => response.json())
          .then((data) => {
            // Iterate over the data and create options
            // Policies
            data["policies"].forEach((option) => {
              const newOption = document.createElement("option");
              newOption.value = option.groupPolicyId;
              newOption.textContent = option.name;
              newSelectBox.appendChild(newOption);
            });
          });

        // Append the SSID name and select elements to the row
        selectBox.appendChild(newSelectBox);
        // Append the row to the container
        multiNetworksHolder.appendChild(selectBox);
      } catch (error) {
        console.error("An error occurred:", error.message);
      }
    }
  }

  // // Handle Multi Network Check Change
  // inputMultiNetworks.addEventListener("change", (event) => {
  //   if (event.currentTarget.checked) {
  //     inputNetwork.disabled = true;
  //     inputNetwork.hidden = true;
  //   } else {
  //     inputNetwork.hidden = false;
  //     inputNetwork.disabled = false;
  //   }
  //   //Reset Changes
  //   multiNetworksHolder.innerHTML = "";
  //   ssidHolder.innerHTML = "";
  //   inputGroupPolicy.disabled = true;
  //   inputPolicy.disabled = false;
  //   inputPolicy.value = "";

  //   asyncLoadNetworks();
  // });

  // Handle Single Network Check Change
  inputSingleNetwork.addEventListener("change", (event) => {
    if (event.currentTarget.checked) {
      inputNetwork.disabled = false;
      inputNetwork.hidden = false;
    } else {
      inputNetwork.hidden = true;
      inputNetwork.disabled = true;
    }
    //Reset Changes
    multiNetworksHolder.innerHTML = "";
    ssidHolder.innerHTML = "";
    inputGroupPolicy.disabled = true;
    inputPolicy.disabled = false;
    inputPolicy.value = "";
  });

  // Handle Network Select Change
  inputNetwork.addEventListener("change", (event) => {
    //Reset Changes
    multiNetworksHolder.innerHTML = "";
    ssidHolder.innerHTML = "";
    inputGroupPolicy.disabled = true;
    inputPolicy.disabled = false;
    inputPolicy.value = "";
  });

  // Handle Policy Select Change
  inputPolicy.addEventListener("change", (event) => {
    const triggers = ["Group policy", "Per connection"];
    var changedPolicy = event.target.value;

    //Reset Changes
    ssidHolder.innerHTML = "";
    inputGroupPolicy.disabled = true;

    // Check if All Networks or Singular
    if (inputAllNetworks.checked) {
      perConnectionCreateFormTable();
      // Funtion to create form and rows, add spinners on loading items
      // Async Functions to fetch field data
    } else {
      // Get Network ID
      const networkId = document.getElementById("inputNetwork");

      if (triggers.includes(changedPolicy)) {
        const spinner = document.getElementById("policySpin");
        spinner.classList.remove("d-none");

        // Make the API call
        fetch(
          "/policy?value=" + changedPolicy + "&networkId=" + networkId.value
        )
          .then((response) => response.json())
          .then((data) => {

            // Remove Options
            inputGroupPolicy.options.length = 0;

            // Iterate over the data and create options
            if (changedPolicy == "Group policy") {
              // Policies
              data["policies"].forEach((option) => {
                const newOption = document.createElement("option");
                newOption.value = option.groupPolicyId;
                newOption.textContent = option.name;
                inputGroupPolicy.appendChild(newOption);
              });
              inputGroupPolicy.disabled = false;
            }

            //SSIDs
            if (changedPolicy == "Per connection") {
              data["ssids"].forEach((ssid) => {
                // Skip the current iteration if "Unconfigured" is found in the string
                if (ssid.name.includes("Unconfigured")) {
                  return;
                }

                const selectBox = document.createElement("div");
                selectBox.classList.add("col-md-3", "mb-3");

                const label = document.createElement("label");
                label.textContent = ssid.name;
                selectBox.appendChild(label);

                var newSelectBox = document.createElement("select");
                newSelectBox.classList.add("form-control");
                newSelectBox.id = "input" + ssid.name;
                newSelectBox.name = "ssid-" + ssid.number;

                defaultPolicies.forEach((option) => {
                  const newOption = document.createElement("option");
                  newOption.value = option;
                  newOption.textContent = option;
                  newSelectBox.appendChild(newOption);
                });

                data["policies"].forEach((option) => {
                  const newOption = document.createElement("option");
                  newOption.value = option.groupPolicyId;
                  newOption.textContent = option.name;
                  newSelectBox.appendChild(newOption);
                });

                // Append the SSID name and select elements to the row
                selectBox.appendChild(newSelectBox);

                // Append the row to the container
                ssidHolder.appendChild(selectBox);
              });
            }
            // Hide the spinner
            spinner.classList.add("d-none");
          })

          .catch((error) => {
            // Hide the spinner
            spinner.classList.add("d-none");
            console.error("Error:", error);
          });
      }
    }
  });
</script>

<script>
  let csvJsonData;
  document
    .getElementById("loadButton")
    .addEventListener("click", function (event) {
      event.preventDefault();
      const expectedHeaders = ["name", "mac"];
      const fileInput = document.getElementById("csvFileInput");
      // Check if file input is empty
      if (fileInput.files.length === 0) {
        fileInput.style.borderColor = "red";
        return;
      }

      fileInput.style.borderColor = "transparent";

      const file = fileInput.files[0];

      const reader = new FileReader();

      reader.onload = function (event) {
        // CSV Validation
        var csvValid = true;
        const csvData = event.target.result;

        const lines = csvData.split("\r\n");
        const headers = lines[0].split(",");

        if (headers.length !== expectedHeaders.length) {
          console.error("CSV file has incorrect number of headers");
          displayAlert(
            `CSV file has incorrect number of headers. Expected ${expectedHeaders.length}, Given ${headers.length}`,
            "danger"
          );
          csvValid = false;
        }

        for (let i = 0; i < headers.length; i++) {
          if (headers[i].toLowerCase() !== expectedHeaders[i].toLowerCase()) {
            console.error(`Incorrect header name at position ${i + 1}`);
            displayAlert(
              `Unexpected header name. Expected ${expectedHeaders[i]}, Given ${headers[i]}`,
              "danger"
            );
            csvValid = false;
            return;
          }
        }

        if (csvValid) {
          // Convert CSV To Json
          csvJsonData = csvToJson(csvData);
          // Build Table
          buildTableWithPagination(csvJsonData, 20);
          // Enable/Show Elements
          document.getElementById("provisionButton").disabled = false;
          tableHideButton.hidden = false;
          var collapse = new bootstrap.Collapse(tableContainer, {
            toggle: false,
          });
          collapse.show();
        }
      };
      reader.readAsText(file);
    });

  function perConnectionCreateFormTable() {
    // Get table
    // Load Each Network To Select
    const networkOptions = inputNetwork.options;
    let networkIds = [];

    let defaultPoliciesOptions = `<option value="" selected disabled> Global Policy </option>`;
    defaultPolicies.forEach((option) => {
      defaultPoliciesOptions += `<option value='${option}'>${option} </option>`;
    });

    // Loop through the options to extract their values and text
    let table = `<table id="perConnectionFormTable" class="table">
          <thead>
            <tr>
              <th scope="col">Network Name</th>
              <th scope="col">
                <select class="form-select" name="ssid-all" id="ssid-all" disabled>
                  <option value="" selected disabled>
                    Select SSID
                  </option>
                </select>
              </th>
              <th scope="col">
                <select class="form-select" name="policy-all" id="policy-all" disabled>
                  ${defaultPoliciesOptions}
                </select>
              </th>
            </tr>
          </thead>
          <tbody>`;

    for (let i = 0; i < networkOptions.length; i++) {
      try {
        if (networkOptions[i].value == 0) {
          continue;
        }
        const networkId = networkOptions[i].value;
        const networkName = networkOptions[i].text;

        const newRow = `
            <tr>
              <td>
                <input type="text" readonly class="form-control" name="networkId-${networkId}" id="${networkId}" value="${networkName}">
                <span id="spinner-${networkId}" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </td>
              <td>
                <select class="form-select" name="ssid-${networkId}" id="ssid-${networkId}">
                  <option value="" selected disabled>
                    Select SSID
                  </option>
                </select>
              </td>
              <td>
                <select class="form-select" name="policy-${networkId}" id="policy-${networkId}">
                  <option value="" selected disabled>
                    Select Policy
                  </option>
                </select>
              </td>
            </tr>
          `;
        table += newRow;

        networkIds.push(networkId);
      } catch (error) {
        console.log(error);
      }
    }

    table += `</tbody>
        </table>`;
    ssidHolder.innerHTML = table;

    // Get SSIDs
    const promises = networkIds.map((networkId) => getSSIDPolicies(networkId));

    Promise.all(promises)
      .then((results) => {
        document.getElementById("policy-all").disabled = false;
        document.getElementById("ssid-all").disabled = false;
      })
      .catch((error) => {
        console.error("An error occurred:", error);
      });

    //Add Onchange for Policy
    document
      .getElementById("policy-all")
      .addEventListener("change", (event) => {

        // Get all elements with a name attribute that contains "policy-"
        const policyElements = document.querySelectorAll('[name*="policy-"]');

        // Loop through the selected elements
        policyElements.forEach((element) => {
          if (element.id == "policy-all") {
            return;
          }
          element.value = event.target.value;
          // element.disabled = true;
        });
      });

    //Add Onchange for SSID
    document.getElementById("ssid-all").addEventListener("change", (event) => {
      // Get all elements with a name attribute that contains "policy-"
      const ssidElements = document.querySelectorAll('[name*="ssid-"]');

      // Loop through the selected elements
      ssidElements.forEach((element) => {
        if (element.id == "ssid-all") {
          return;
        }
        for (let i = 0; i < element.options.length; i++) {
          if (element.options[i].value === event.target.value) {
            element.options[i].selected = true;
            // Check SSID Name Matches
            const selectedOption =
              event.target.options[event.target.selectedIndex];
            if (element.options[i].textContent === selectedOption.text) {
              element.classList.add("is-valid");
            } else {
              element.classList.add("is-invalid");
            }
            // element.disabled = true;
            return;
          }
        }
      });
    });
  }

  async function getSSIDPolicies(networkId) {
    // Make the API call
    await fetch("/policy?value=Per connection&networkId=" + networkId)
      .then((response) => response.json())
      .then((data) => {
        const ssidAllSelectElement = document.getElementById(`ssid-all`);
        const ssidSelectElement = document.getElementById(`ssid-${networkId}`);
        const ssidPolicyElement = document.getElementById(
          `policy-${networkId}`
        );
        if (!data["ssids"]) {
          console.log(data["networkId"], "No SSIDs");
          // Remove Row
          const row = ssidSelectElement.closest("tr");
          row.remove();
          return;
        }

        // Load SSIDS
        data["ssids"].forEach((ssid) => {
          // Skip the current iteration if "Unconfigured" is found in the string
          if (ssid.name.includes("Unconfigured")) {
            return;
          }
          const newOption = document.createElement("option");
          newOption.value = ssid.number;
          newOption.textContent = ssid.name + ` (${ssid.number + 1})`;
          ssidSelectElement.appendChild(newOption);
          const allOption = document.createElement("option");
          allOption.value = ssid.number;
          allOption.textContent = ssid.name + ` (${ssid.number + 1})`;
          ssidAllSelectElement.appendChild(allOption);
        });

        // Load Policies
        defaultPolicies.forEach((option) => {
          const newOption = document.createElement("option");
          newOption.value = option;
          newOption.textContent = option;
          ssidPolicyElement.appendChild(newOption);
        });

        data["policies"].forEach((policy) => {
          const newOption = document.createElement("option");
          newOption.value = policy.groupPolicyId;
          newOption.textContent = policy.name;
          ssidPolicyElement.appendChild(newOption);
        });

        // Remove Spinner
        document.getElementById(`spinner-${networkId}`).remove();
      });
  }
</script>

<!-- Upload Form Script -->
<script>
  document
    .getElementById("uploadForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();
      const formData = new FormData(this);

      formData.delete("csvFileInput");

      const formDataObject = Object.fromEntries(formData);

      // Check for single or all networks
      if ("options-network" in formDataObject) {
        if (formDataObject["options-network"] === "all") {
          for (const key in formDataObject) {
            if (formDataObject.hasOwnProperty(key)) {
              if (key.startsWith("networkId-")) {
                let netId = key.replace("networkId-", "");
                let ssidValue = formDataObject[`ssid-${netId}`];
                let ssidKey = `ssid-${ssidValue}`;
                let networkName = formDataObject[`networkId-${netId}`];
                let policy = formDataObject[`policy-${netId}`];
                let networkObject = {
                  inputOrg: formDataObject["inputOrg"],
                  inputNetwork: netId,
                  inputPolicy: formDataObject["inputPolicy"],
                  devices: JSON.stringify(csvJsonData),
                };
                networkObject[ssidKey] = policy;
                // Convert FormData to JSON
                const jsonData = JSON.stringify(networkObject);
                asyncFetch(jsonData, networkName, document.getElementById(netId));
              }
            }
          }
        } else {
          // Add form fields to FormData
          formData.append("devices", JSON.stringify(csvJsonData));

          // Convert FormData to JSON
          const jsonData = JSON.stringify(Object.fromEntries(formData));
          asyncFetch(jsonData);
        }
      }
    });

  async function asyncFetch(jsonData, networkName = 'Network', networkNameElement = false) {
    let response;
    overlay.style.display = "flex";
    try {
      response = await fetch("/upload", {
        method: "POST",
        body: jsonData,
        headers: {
          "Content-Type": "application/json",
        },
      });
    } catch (error) {
      console.log("There was an error", error);
    }

    // Uses the 'optional chaining' operator
    if (response?.ok) {
      if(networkNameElement){
        networkNameElement.classList.add('is-valid')
      }
      displayAlert(`Successfully added to ${networkName}.`, "success");
    } else {
      console.log(`HTTP Response Code: ${response?.status}`);
      if (response?.status == 500) {
        displayAlert(`Uh oh, something went wrong on ${networkName}.` , "danger");
        if(networkNameElement){
        networkNameElement.classList.add('is-invalid')
      }
      }
      // Check if the response contains JSON data
      if (response.headers.get("content-type").includes("application/json")) {
        response.json().then((jsonData) => {
          if ("errors" in jsonData) {
            for (var error in jsonData["errors"]) {
              displayAlert(jsonData["errors"][error], "danger");
            }
            if(networkNameElement){
                networkNameElement.classList.add('is-invalid')
              }
          } else if ("message" in jsonData) {
            if ("errors" in jsonData["message"]) {
              for (var error in jsonData["message"]["errors"]) {
                displayAlert(jsonData["message"]["errors"][error], "danger");
              }
              if(networkNameElement){
                networkNameElement.classList.add('is-invalid')
              }
            }
          }
        });
      }
    }
    overlay.style.display = "none";
  }
</script>
